* {
    margin: 0;
    padding: 0;
    font-family: 'Futura','OxProto Nerd Font Mono','Courier New', Courier, monospace;
}

@font-face {
  font-family: Norse;
  src: url(./Norsebold.otf);
}

body {
    display: flex;
    justify-content: center;
    background-color: #4C4C4C;
}

.page {
    background-color: white;
    width: auto;
    height: 100vh;
    display: flex;
}

.hero {
    position: relative;
    height: 100vh;
    width: 35vw;
    flex: 0 0 35vw;
    overflow: hidden;
}

#popcorn {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

#logo {
    width: 60px;
}

#company-name {
    font-family: 'Norse', 'Futura';
    font-size: 3.4rem;
    font-weight: 500;
}

#photo-credits {
    position: absolute;
    color: white;
    font-size: 0.6rem;
    font-weight: 200;
    bottom: 8px;
    right: 5px;
}

#photo-credits > a {
    text-decoration: underline;
    color: white;
}

.hero-section {
    position: absolute;
    top: 20%;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    color: white;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    background-color: rgb(249,250,251);
}

.service-info {
    width: 32rem;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    padding: 1rem;
}

fieldset {
    display: flex;
    font-size: 0.8rem;
    border: none;
    display: flex;
    gap: 1rem;
}

#passwordMessage {
    font-size: 0.7rem;
}

.name,
.details,
.password {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 0;
}

.contact-ticket {
    height: 11rem;
    padding-left: 1rem;
    padding-top: 1rem;
    padding-right: 12rem;
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    background-color: white;
    box-shadow: 0 6px 12px -6px rgba(0, 0, 0, 0.15);
}

.submit-area {
    height: 80px;
    width: 16rem;
    margin: 18px;
}

button {
    padding: 8px;
    width: 180px;
    border-radius: 8px;
    font-size: 1.05rem;
    margin: 8px;
    background-color: white;
}

button:hover {
    background-color: #ff6666;
}

button:active {
    background-color: #ff4d4d;
}

.submit-area > p {
    font-size: 0.8rem;
}